@model  Fido2IdentityServer.Controllers.Home.HomeViewModel;
@{
    var version = typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.GetName().Version.ToString();
}

<div class="view full-page-intro" style="background-image: url(@Url.Content("~/img/background.jpg")); background-repeat: no-repeat; background-size: cover; margin: 0;">

    <!-- Regiister form-->
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

       <partial name="Partial/_HomeRegister.cshtml"| model="Model.Register"/>

    </div>
    <!-- Mask & flexbox options-->

</div>
<!-- Full Page Intro -->
<!--Main layout-->
<main>
    <div class="container">

        <!--Section: Password Login-->
        <section class="mt-5 wow fadeIn">

            <partial name="Partial/_HomePasswordLogin.cshtml" model="Model.Login" />

        </section>
        
        <hr class="my-5">

        <!--Section: Passwordless login-->
        <section>

            <partial name="Partial/_Fido2Details.cshtml" model="Model.Login"/>

        </section>
        <!--Section: Main features & Quick Start-->
        <partial name="Partial/_HomeOther.cshtml" />

    </div>
</main>
<!--Main layout-->
<script src="~/js/login.js"></script>
<script src="~/js/helpers.js"></script>