@model Fido2IdentityServer.Controllers.Account.Fido2LoginViewModel

<h2>Second Factor Authentication</h2>


@foreach (var auth in Model.AuthenticatorTypes)
{
    if (auth == "yubikey")
    {
        <div class="visible-lg-inline-block">
            <form action="/mfa" method="post" id="yubikey">
                <button class="btn btn-primary" type="submit" id="yubikey" name="button" value="yubikey">Yubikey</button>
            </form>
        </div>
    }
    else if (auth == "windows-hello")
    {
        <div class="visible-lg-inline-block">
            <form action="/mfa" method="post" id="windows-hello">
                <button class="btn btn-primary" type="submit" id="windows-hello" name="button" value="windows-hello">Windows Hello</button>
            </form>
        </div>
    }
}

<script src="~/js/login.js"></script>
<script src="~/js/helpers.js"></script>
