@model  Fido2IdentityServer.Controllers.Account.Fido2LoginViewModel

<h2>Fido2Login</h2>

<form asp-action="Fido2Login" asp-controller="Account">
    <input type="hidden" asp-for="RememberLogin" />
    <input type="hidden" asp-for="ReturnUrl" />

    @foreach (var auth in Model.AuthenticatorTypes)
    {
        if (auth == "yubikey")
        {
            <button class="btn btn-primary" type="submit" name="button" value="yubikey">Yubikey</button>
        }
        else if (auth == "windows-hello")
        {
            <button class="btn btn-primary" type="submit" name="button" value="windows-hello">Windows Hello</button>
        }
    }
    /**/
    /**/
</form>