@model  Fido2IdentityServer.Controllers.Home.HomeLoginViewModel;

<h3 class="h3 text-center mb-5">About FIDO2</h3>

<!--Grid row-->
<div class="row wow fadeIn">

    <!--Grid column-->
    <div class="col-lg-6 col-md-12 px-4">

        <!--First row-->
        <div class="row">
            <div class="col-1 mr-3">
                <i class="fas fa-book fa-2x blue-text"></i>
            </div>
            <div class="col-10">
                <h5 class="feature-title">FIDO2</h5>
                <p class="grey-text">Thanks to FIDO 2 you can be more secure on internet than ever before. Find more info about FIDO 2 on official <a href="https://fidoalliance.org/fido2/">web site</a> of FIDO 2 Alliance</p>
            </div>
        </div>
        <!--/First row-->

        <div style="height:30px"></div>

        <!--Second row-->
        <div class="row">
            <div class="col-1 mr-3">
                <i class="fas fa-book fa-2x blue-text"></i>
            </div>
            <div class="col-10">
                <h5 class="feature-title">Read about WebAuthn</h5>
                <p class="grey-text">
                    On this <a href="https://w3c.github.io/webauthn/">link</a> you can find official WebAuthn specification.
                </p>
            </div>
        </div>
        <!--/Second row-->

        <div style="height:30px"></div>

        <!--Third row-->
        <div class="row">
            <div class="col-1 mr-3">
                <i class="fas fa-book fa-2x blue-text"></i>
            </div>
            <div class="col-10">
                <h5 class="feature-title">Read about CTAP</h5>
                <p class="grey-text">
                    We care about the development of our users. We have prepared numerous tutorials, which allow you to learn
                    how to use MDB as well as other technologies.
                </p>
            </div>
        </div>
        <!--/Third row-->

    </div>
    <!--/Grid column-->
    <!--Grid column-->
    <div class="col-lg-6 col-md-12">

        <p class="h5 text-center mb-4">Google and Microsoft Debut: Replacing Passwords with FIDO2 Authentication</p>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/M30aZ2cxElo" allowfullscreen></iframe>

        </div>
    </div>
    <!--/Grid column-->

</div>
<!--/Grid row-->