@model Fido2IdentityServer.Controllers.Home.HomeLoginViewModel;
<!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

            <!--Card-->
            <div class="card">

                <!--Card content-->
                <div class="card-body">

                    <!-- Form -->
                    <form asp-action="Login" asp-controller="Account" id="login">
                        <!-- Heading -->
                        <h3 class="dark-grey-text text-center">
                            <strong>Login</strong>
                        </h3>
                        <hr>

                        <div class="md-form">
                            <i class="fas fa-user prefix grey-text"></i>
                            <input type="text" id="loginUsername" class="form-control" asp-for="Username">
                            <label for="loginUsername">User Name:</label>
                        </div>

                        <div class="md-form" id="passwordDiv">
                            <i class="fas fa-key prefix grey-text"></i>
                            <input type="password" id="loginPassword" class="form-control" asp-for="Password">
                            <label for="loginPassword">Password:</label>
                        </div>


                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="text-center">
                                    <button class="btn btn-indigo" data-toggle="modal" data-target="#loginModal">Login</button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="loginModalTitle"></h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p id="loginModalBody"></p>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="passwordSwitch" onclick="passwordSwitchChanged()">
                                    <label class="custom-control-label" for="passwordSwitch">Passwordless</label>
                                </div>
                            </div>

                        </div>

                    </form>
                    <!-- Form -->

                </div>

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-6 mb-4">

            <!-- Main heading -->
            <h3 class="h3 mb-3">Login on FIDO2 Identity Server</h3>
            <p>
                By changing the state of passwordless switch in login form, you can choose between login with password and passwordless login.
            </p>
            <hr>

            <p>
                If user didn't configure any authenticator it will be unable do login through passwordless login until it registers authenticator.
            </p>

        </div>


      

    </div>
<!--Grid row-->
<script>
    function passwordSwitchChanged() {
        if (document.getElementById("passwordSwitch").checked) {
            document.getElementById("passwordDiv").hidden = true;
        }
        else {
            document.getElementById("passwordDiv").hidden = false;
        }
    }
</script>
